.main {
  flex-direction: column;
  padding: 3rem;
}

.section-left, .section-left__encrypt {
  position:static;
}
.section-left {
  width: 100%;
  height: 70%;
}
.section-left__logo {
  top: 4rem;
}
.section-right {
  width: 100%;
  height: 30%;
}
.section-right__imageText img {
  display: none;
}